################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Temp/FSTimeGet-ed9487e801a496a46947fbbefdf77c01
/Temp/FSTimeGet-da4f82df9e4a7400288dbed23d61eee2
/Temp/FSTimeGet-4e12225a2f8e0644198cac5f4428175d
/Temp/FSTimeGet-2c815a1134036994da76623081408917
/Temp/FSTimeGet-1d7f9fd7f0de6e54ab2b2313501c327a
/Temp/FSTimeGet-0d1d11b3652c1e544b6829f3de3eab39
/Temp/__Backupscenes/0.backup
/Temp/UnityVS_obj/Debug/HowToMakeAVideoGame.csproj.AssemblyReference.cache
/Temp/workerlic
